/* .sets {
    visibility: collapse
}
*/

table, td, th {
    border: 1px solid green
}

table {
    background-color: #DDDDDD;
    border: 1px solid pink;

    margin: 1em;
    padding:1em
}

td {
    height: 5em;

    input {
        width: 5em;
        height: 5em;
    }
}


@media (prefers-color-scheme: dark) {
    table {
        background-color: #444444;
        /* border: 1px solid pink */
    }
}

#workout_table {
}

.collapse {
    visibility: collapse
}